<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/asserts/stylefac.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
    <script src="/asserts/typedfac.js"></script>
    <title>Home</title>
</head>
<body>

    <div class="bimg">
        <div class="maincontain">
            <div class="navbar">
                <div class="logo">
                </div>
                <nav>
                    <ul>
                        <li><a class="current" href="#">Home</a></li>
                        <li><a href="/asserts/Onduty/onduty/onduty.html?course_id=<%= course_id %>&username=<%= username %>">On-Duty Applications</a></li>
                        <li><a href="/asserts/bot/bot/bot.html?username=<%= username %>&course_id=<%= course_id %>">Bot</a></li>
                        <li><a href="/logout">Log Out</a></li>
                    </ul>
                </nav>
                <table>
                    <tr>
                    <td>
                    <font size = "3"
                    <div class="app-user">Welcome, <%= username %></div>
                    </font>
                    </td>
                    <td> </td>
                    <td>
                    <a href="#LINK#" class="t13NavLink"></a>
                    </td>
                    </tr>
                    </table>
                <!-- <img id="carticn" src="Images/cart.png"cart"> -->
            </div>
            <div class="tworows">
                <div class="twotext" style="transform: translateY(-20px);">
                    <img src="/asserts/Images/Images/AMlogo.jpeg" alt="" style="transform: translateX(-30px);" height="250px" width="250px">
                    <h1><span class="typeele"></span></h1>
                   <p style="color: white;">Weakness is not in us, it is what we have outside</p>
                   
                   <a id="drop" class="btn">Find more</a>
                </div>
                <div class="twotext">
                    <img src="/asserts/Images/Images/ASECBE.jpg" alt="back">
                </div>
            </div>
        </div>
    </div>
    </div>

    
    <div class="sas" >
        <script type="text/javascript" style="color: white;">
            let typed = new Typed('.typeele',{
              strings:["<span style='color:white;'>Smart Attendance System</span>"],
                typeSpeed: 200,
                backSpeed: 40,
                loop: true,
            });
        </script>
    </div>

<div class="secondsec">
  <div id = "myDropdown2">
    <div class = "drop" style="width:1300px;">
        <label for="touch1"><div class="spa"> 19CSE311 - Software Engineering &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;+</div></label> 
    </br>
        <input type="checkbox" id="touch1">
      <ul class="slide">
        <div class="dropdown">
           <div style="overflow-x: auto;width:1300px ;" >
            <table style="border-collapse: collapse;
        width: 100%;">
          <tr style="height:40px;background-color: #454242;">
            <th style="text-align:center;">DAY</th>
            <th style="text-align:center;">SLOT</th>
            <th style="text-align:center;">TIMING</th>
          </tr>
          <tr style="color:black;background-color: lightblue;">
            <td style="text-align:center;">Tuesday</td>
            <td style="text-align:center;">4</td>
            <td style="text-align:center;">11:30AM-12:20PM</td>

            </td>
            
          </tr>
          <tr style="color:black;background-color: lightblue;">
            <td style="text-align:center;">Thursday</td>
            <td style="text-align:center;">4</td>
            <td style="text-align:center;">11:30AM-12:20PM</td>

            
            </td>
            
          </tr>
          <tr style="color:black;background-color: lightblue;">
            <td style="text-align:center;">Friday</td>
            <td style="text-align:center;">2</td>
            <td style="text-align:center;">9:40AM-10:30AM</td>

            
            </td>
            
          </tr>
        </table>
          </div> 
          
           </div>
      </ul>
      </div>
    </div >
<div id = "myDropdown1">
<div class = "drop" style="width:1300px;">
    <label for="touch"><div class="spa">19CSE305 - Machine Learning &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;+</div></label> 
</br>
    <input type="checkbox" id="touch">
    

    <ul class="slide">
      <div class="dropdown">
         <div style="overflow-x: auto;width:1300px ;" >
          <table style="border-collapse: collapse;
          width: 100%;">
            <tr style="height:40px;background-color: #454242;">
              <th style="text-align:center;">DAY</th>
              <th style="text-align:center;">SLOT</th>
              <th style="text-align:center;">TIMING</th>
            </tr>
            <tr style="color:black;background-color: lightblue;">
              <td style="text-align:center;">Monday</td>
              <td style="text-align:center;">5</td>
              <td style="text-align:center;">1:40PM-2:30PM</td>

              </td>
              
            </tr>
            <tr style="color:black;background-color: lightblue;">
              <td style="text-align:center;">Wednesday</td>
              <td style="text-align:center;">1,2</td>
              <td style="text-align:center;">8:50AM-10:30AM</td>

              
              </td>
              
            </tr>
            <tr style="color:black;background-color: lightblue;">
              <td style="text-align:center;">Thursday</td>
              <td style="text-align:center;">6</td>
              <td style="text-align:center;">2:30AM-3:20AM</td>

              
              </td>
              
            </tr>
          </table>
        </div> 
       </div> 

</div>
</div>
<div id = "myDropdown3">
  <div class = "drop" style="width:1300px;">
      <label for="touch3"><div class="spa">19CSE313 - Principles of Programming Language&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;+</div></label> 
  </br>
      <input type="checkbox" id="touch3">
      
  
      <ul class="slide">
        <div class="dropdown">
           <div style="overflow-x: auto;width:1300px ;" >
            <table style="border-collapse: collapse;
      width: 100%;">
        <tr style="height:40px;background-color: #454242;">
          <th style="text-align:center;">DAY</th>
          <th style="text-align:center;">SLOT</th>
          <th style="text-align:center;">TIMING</th>
          <!-- <th style="text-align:center;">ATTENDANCE</th> -->
        </tr>
        <tr style="color:black;background-color: lightblue;">
          <td style="text-align:center;">Monday</td>
          <td style="text-align:center;">2</td>
          <td style="text-align:center;">9:40AM-10:30AM</td>

          </td>
          
        </tr>
        <tr style="color:black;background-color: lightblue;">
          <td style="text-align:center;">Tuesday</td>
          <td style="text-align:center;">1,2</td>
          <td style="text-align:center;">8:50AM-10:30AM</td>

          
          </td>
          
        </tr>
        <tr style="color:black;background-color: lightblue;">
          <td style="text-align:center;">Friday</td>
          <td style="text-align:center;">1</td>
          <td style="text-align:center;">8:50AM-9:40AM</td>

          
          </td>
          
        </tr>
      </table>
          </div> 
         </div> 
  
  </div>
</div>

</div>

  </head>
  <body>

<script>
function myFunction1() {
  document.getElementById("myDropdown1").classList.toggle("show");
}


// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.touch')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

  </script>
<script>
function myFunction2() {
  document.getElementById("myDropdown2").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.touch1')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}

  </script>

</body>
</html>